* {
    box-sizing: border-box;
}

.form-layout {
        width: 500px;
        margin: 50px 0;
}

input {
    display: block;
    width: 150px;
    margin: 5px 0;
    padding: 5px;
}

input[type="submit"] {
    width: 164px;
    margin-top: 20px;
    cursor: pointer;
}

textarea {
    width: 300px;
    height: 40px;
    padding: 5px;
}

label {
    display: block;
    margin: 10px 0 0;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.top-navbar-remove-element {
    display: none;
}

.show-inline-element {
    display: inline;
}

.show-pointer {
    cursor: pointer;
}

.show-block-element {
    display: block;
}

.remove-element {
    display: none;
}

.details-view {
    margin-bottom: 40px;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.details-view button {
    margin: 30px 70px 0 0;
    width: 70px;
    cursor: pointer;
}

.chat-setup-nickname input, input[type="submit"] {
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    margin: 0;
}

.chat-setup-nickname label {
    margin: 30px 0 5px;
}

.chat-setup-nickname input[type="submit"] {
    display: block;
    width: 200px;
    margin: 10px 0;
}

.chat-query {
    width: 600px;
    margin: 20px 0;
}

.chat-query input {
    display: block;
    width: 180px;
}

.chat-query input[type="submit"] {
    display: block;
    margin: 30px 0 0;
}