@import "./navigators.css";
@import "./forms.css";
@import "./fonts.css";


* {
    box-sizing: border-box;
    font-size: 16px;
}


body {
    width: 100%;
    margin: 0 auto;
    background-color: hsla(180deg, 50%, 50%, 10%);
    font-family: 'Ubuntu', sans-serif;    
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Piazzolla', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}


p {
    font-size: 1.2rem;
    font-weight: 300;
}


a:link {
    color: #217575;
    text-decoration-color: #134242;
}

a:visited {
    color: #217575;
    text-decoration-color: #134242;
}


.container-wrapper {
    max-width: 600px;
    margin-left: 400px;
    word-break: break-word;
}

.container-wrapper li {
    color: white;
    padding: 10px;
}

.container-wrapper li:hover {
    transition: none;
    background-color: #217575;
}


.success-message {
    color: green;
}

.error-message {
    color: red;
}


.show-inline-element {
    display: inline;
}

.show-pointer {
    cursor: pointer;
}

.show-block-element {
    display: block;
}

.remove-element {
    display: none;
}

.details-view {
    margin-bottom: 40px;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.details-view button {
    margin: 30px 70px 0 0;
    width: 70px;
    cursor: pointer;
}