@import "./navigators.css";
@import "./forms.css";
@import "./fonts.css";


* {
    box-sizing: border-box;
    font-size: 16px;
}


body {
    width: 100%;
    margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Piazzolla', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}


.container-wrapper {
    max-width: 600px;
    margin-left: 400px;
    word-break: break-word;
}


.success-message {
    color: green;
}

.error-message {
    color: red;
}


.show-inline-element {
    display: inline;
}

.show-pointer {
    cursor: pointer;
}

.show-block-element {
    display: block;
}

.remove-element {
    display: none;
}

.details-view {
    margin-bottom: 40px;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.details-view button {
    margin: 30px 70px 0 0;
    width: 70px;
    cursor: pointer;
}

/* .chat-setup-nickname input {
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    margin: 0;
}

.chat-setup-nickname label {
    margin: 30px 0 5px;
} */

/* .chat-setup-nickname input[type="submit"] {
    display: block;
    width: 200px;
    margin: 10px 0;
} */

/* .chat-query {
    width: 600px;
    margin: 20px 0;
} */

/* .chat-query input {
    display: block;
    width: 180px;
}

.chat-query input[type="submit"] {
    display: block;
    margin: 30px 0 0;
} */